* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

:root {
  --text-start-padding: 24px;
  --card-heading-offset: 8px;

  --card-heading-margin: calc(
    var(--text-start-padding) + var(--card-heading-offset)
  );

  --card-heading-padding: calc(
    var(--text-start-padding) + var(--card-heading-offset)
  );
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Add styles here! */
.max-width-wrapper {
  margin: 0 auto;
  max-width: 880px;
}

h1 {
  margin: 72px 0 40px 0;
  padding-left: var(--text-start-padding);
}

header {
  padding-bottom: 24px;
}

header p {
  margin: 24px 0;
  padding-left: var(--text-start-padding);
  width: 64%;
  min-width: 200px;
}

h2 {
  background: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  margin-top: 0;
  margin-left: calc(-1 * var(--card-heading-margin));
  padding: 16px var(--card-heading-padding);
  width: fit-content;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  border-top: 8px solid hsl(0deg, 0%, 40%);
  background-color: hsl(0deg, 0%, 60%);
  padding: 64px 0;
}

.card {
  padding: 8px 0 0 var(--text-start-padding);
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}
